export(.InstallMarginal)
export(ConversionTableForMunicipalities)
export(ConvertMunicipalityCodes)
export(ConvertMunicipalityNames)
export(FindProvince)
export(GetEdustajaData)
export(GetEdustajanAanestykset)
export(GetElectedCandidates)
export(GetElectionResultsPresidentti2012)
export(GetMunicipalElectionData2000)
export(GetMunicipalElectionData2004)
export(GetMunicipalElectionData2008)
export(GetMunicipalityInfo)
export(GetMunicipalityInfoMML)
export(GetMunicipalityInfoStatFi)
export(GetParliamentVotes)
export(GetParliamentaryElectionData)
export(GetPopulationRegister)
export(GetPostalCodeInfo)
export(GetPresidentti2012)
export(GetProvinceInfo)
export(GetVaalipiiri)
export(LoadData)
export(LouhosStoragePath)
export(PreprocessPresidentti2012)
export(PreprocessPresidentti2012UserData)
export(Presidentti2012CandidateAnswers2Numeric)
export(Presidentti2012ConvertOptionsToNumeric)
export(Presidentti2012GetUserData)
export(Presidentti2012RateChoices)
export(Presidentti2012RetrieveAnswerText)
export(ReadASC)
export(ReadAllCandidates)
export(ReadAllParties)
export(ReadCandidates)
export(ReadDatavaalit)
export(ReadElectionData)
export(ReadParties)
export(ReadXYZ)
export(Strip)
export(haeHakusanalla)
export(hetu)
export(ip_location)
export(is.url)
export(korvaa.skandit)
export(strstrip)
export(valid.hetu)
